
#row1 {
  color: white;
  width: auto;
  height: 600px;
  text-align: center;
  align-items: center;
}

#breakfast {
  height: 200px;
  width: 100%;
  color: white;
  align-items: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}
#lunch {
  height: 200px;
  width: 100%;
  color: white;
  text-align: center;
}
#breakfast {
  height: 200px;
  width: 100%;
  color: white;
  text-align: center;
}
#row3-2 {
  height: 200px;
  width: 45%;
  color: white;
}
.jumbo img {
  align: center;
}
.jumbo {
  width: auto;
  border: solid;
  height:
  padding: px
}
#HappyHour {
  background-color: white;
  height: 100px;
  width: 45%;
  padding-right: 103%;
}
#PartyTime {
  color: white;
  height: 100px;
  width: 45%;
  padding-bottom: 5%;
  background-color: #F15A29;
  padding-right: 103%;
}
.container-fluid {
align-items: center;
padding-bottom: 1%;
background-image: image("..images/assets/foodtop/foodsBg.jpg");
}
#drinks {
  align-items: center;
}
#drinks2 {
  height: 390px;
  width: 45%;
  color: white;
  padding-bottom: 100px;
}
#Customers-About {
  float: center;
  height:
}
#foods {
  align: center;
  float: center;
  padding-left: 100px;
  padding-right: 100px;
  background-image: image("..images/assets/foodtop/foodsBg.jpg");
}
#subscription {
  height: 200px;
  width: 100%;
  align: center;
  color: white;
  text-align: center;
  align-items: center;
}
#menu {
  background-color: #F15A29;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  height:
}
#email {
  width: 300px;
  align-items: center;
  background-color: transparent;
  color: white;
}
#subscribe {
  height: 40px;
  width: 300px;
  background-color: #F15A29;
  color: white;
  float: bottom;
}
#btn {
    background-color: white;
    border-color: #F15A29;
    color: #F15A29;
}
#ntb {
    background-color: white;
    border-color: #F15A29;
    color: #F15A29;
}
#fastFood2 {
  width: 100px;
  height: 100px;
}
#row2-2 {
  height: 300px;
  width: 200px;
  align-items: center;
}
#happy {
  color: #F15A29;
}
#about {
  color: #F15A29;
  height: 115px;
}
#fastfood1-text {
  width: 500px;
}
#fast {
  color: red;
  background-color: white;
  width: 100%;
  height: 50px;
  text-align: center;
}
#fast:hover {
  color: white;
  background-color: #808080;
}
#drink {
  color: white;
  background-color: #808080;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-right: 0%;
  padding-right: 377px;
}
#drink:hover {

}
#chicken {
  color: white;
  background-color: #808080;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-right: 0%;
  margin-left: 0%;
}
#drink:hover {
  color: red;
  background-color: white;
  width: 100%;
  height: 50px;
  text-align: center;
}
#chicken:hover {
  color: red;
  background-color: white;
  width: 100%;
  height: 50px;
  text-align: center;
}
